:root {
	/* Colors - grays. */
	--black: #000;
	--dark-gray: #333;
	--gray: #666;
	--light-gray: #999;
	--lightest-gray: #ccc;
	--white: #fff;

	/* Colors - greens. */
	--dark-green: #096;
	--darker-green: hsl(from var(--dark-green) h s calc(l * .7));
	--darkest-green: hsl(from var(--dark-green) h s calc(l * .5));
	--green: #3c9;
	--darkish-green: hsl(from var(--green) h s calc(l * .9));
	--light-green: #4da;
	--lighter-green: #6fc;
	--lightest-green: #8fe;

	/* Colors - purples. */
	--purple: #4b318c;
	--darkest-purple: hsl(from var(--purple) h s calc(l * .225));
	--darker-purple: hsl(from var(--purple) h s calc(l * .51));
	--dark-purple: hsl(from var(--purple) h s calc(l * .65));
	--lightish-purple: hsl(from var(--purple) h s calc(l * 1.03));
	--light-purple: hsl(from var(--purple) h s calc(l * 1.09));
	--lighter-purple: hsl(from var(--purple) h s calc(l * 1.34));
	--bright-purple: #b656b6;

	/* Colors - reds. */
	--red: #cc411f;
	--darkest-red: hsl(from var(--red) h s calc(l * .5));
	--darker-red: hsl(from var(--red) h s calc(l * .65));
	--dark-red: hsl(from var(--red) h s calc(l * .85));
	--light-red: hsl(from var(--red) h s calc(l * 1.06));
	--lighter-red: hsl(from var(--red) h s calc(l * 1.095));
	--lightest-red: hsl(from var(--red) h s calc(l * 1.235));

	/* Sizes. */
	--border-radius: 10px;
	--padding: 8px;
	--font-size: 16px;
	--max-width: 600px;
	--nav-height: 44px;

	/* Lists. */
	--list-padding-top: 14px;
	--list-padding-side: 16px;

	/* Modals. */
	--modal-background-color: var(--darker-purple);
	--modal-button-margin-side: 8px;
	--modal-button-margin-top: 20px;
	--modal-container-background-color: hsl(from var(--black) h s l / 60%);
	--modal-input-background-color: var(--white);
	--modal-margin: 32px;
	--modal-max-width: 800px;
	--modal-padding: 32px;
	--modal-text-color: var(--black);
	--modal-zindex: 9999;

	/* Has many. */
	--has-many-padding: 2px;

	/* Fonts. */
	--font: 'Trebuchet MS', sans-serif;

	/* Inputs. */
	--formosa-input-border-color: #bbb;
	--formosa-input-border-radius: var(--border-radius);
	--formosa-input-border-width: 2px;
	--formosa-input-font-size: var(--font-size);
	--formosa-input-padding: var(--padding);
	--formosa-input-font-family: var(--font);

	/* Buttons. */
	--formosa-button-background-color: var(--lighter-green);
	--formosa-button-border-color: var(--dark-green);
	--formosa-button-padding-side: var(--padding);
	--formosa-input-line-height: 1;

	/* Checkboxes. */
	--formosa-checkbox-border-radius: var(--border-radius);

	/* Colors. */
	--formosa-color-danger: var(--lightest-red);

	/* Focus. */
	--formosa-focus-border-color: var(--lighter-purple);
	--formosa-focus-box-shadow-color: var(--bright-purple);

	/* Labels. */
	--formosa-label-font-weight: normal;

	/* Postfix. */
	--formosa-postfix-border-width: 1px;

	/* Radio buttons. */
	--formosa-radio-border-radius: var(--border-radius);
	--formosa-radio-border-width: 0;
	--formosa-radio-margin: 0;
	--formosa-radio-margin-side: 0;

	/* Spinner. */
	--formosa-spinner-color: var(--green);
	--formosa-spinner-color-alternate: var(--darker-purple);

	/* Success. */
	--formosa-success-background-color: var(--green);
}
